#slideshow {
  height: 430px;
  width: 400px;
  margin: 0 auto; }

#slides {
  height: 430px;
  position: relative; }

.slide {
  height: 430px;
  width: 400px;
  overflow: hidden;
  position: absolute;
  background: #000;
  color: #fff; }

.slide {
  text-align: center; }

#slides-controls {
  width: 100px;
  background-color: #fff;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px; }
  #slides-controls a.highlight {
    background: #fff;
    border: 1px solid #aaa; }
  #slides-controls a:hover {
    background: #aaa; }

#slides-controls a {
  margin: 5px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background: #aaa;
  border: 1px solid #fff;
  text-indent: -9000px;
  display: block;
  overflow: hidden;
  float: left; }
